<div *ngIf="!onEdit">

  <div class="row">

    <div class="col-3">
      <app-tamplate-driven-assign-from></app-tamplate-driven-assign-from>
    </div>
    <div class="col-2">
      <app-reactive-assign-from></app-reactive-assign-from>
    </div>
  </div>

</div>

<br><br>

<div>
  <form (ngSubmit)="saveData(tamplateForm1)" #tamplateForm1="ngForm">
    <div *ngIf="!onEdit">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Edit/Delete</th>
            <th>Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>DOB</th>
            <th>Hobbies</th>
            <th>Phone No</th>
            <th>Qualification</th>
            <th>Profession</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let infodata of userInfo">
            <td>
              <div class="spacebtw">
                <button type="button" class="btn btn-primary" (click)="edit(infodata)">Edit </button>&nbsp;
                <!-- <button type="button" class="btn btn-primary" (click)="editReactive(infodata)">Edit by Reactive</button>&nbsp; -->
                <button type="button" class="btn btn-danger" (click)="deleteData(infodata)">Delete</button>
              </div>
            </td>

            <td>
              {{infodata.data.firstPage.name}}
            </td>
            <td>
              {{infodata.data.firstPage.email}}
            </td>
            <td>
              {{infodata.data.firstPage.gender}}

            </td>
            <td>
              {{infodata.data.firstPage.dob}}
            </td>

            <td>
              <div *ngFor="let hobby of infodata.data.secondPage.hobbies | keyvalue">
                <div *ngIf="hobby.value">
                  {{hobby.key}},
                </div>
              </div>
            </td>
            <td>
              {{ infodata.data.secondPage.phone_no.p1}}-{{ infodata.data.secondPage.phone_no.p2}}-{{
              infodata.data.secondPage.phone_no.p3}}
            </td>
            <td>
              {{infodata.data.thirdPage.qualification}}
            </td>
            <td>
              {{infodata.data.thirdPage.profession}}
            </td>
            <td>
              {{infodata.data.thirdPage.desc}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="onEdit" class="editForm">
      <div class="mb-3">
        <input type="hidden" name="id" [(ngModel)]="oldId">
        <input type="text" class="form-control" id="name" name="name" pattern="^[a-zA-Z ]+$" required
          [(ngModel)]="oldName">
      </div>
      <div class="mb-3">

        <input type="text" class="form-control" [(ngModel)]="oldEmail" required name="email" email>
      </div>

      <input type="radio" class="form-check-input" name="gender" value="male" id="gender" checked
        [(ngModel)]="oldGender" />Male

      <input ngModel class="form-check-input" type="radio" name="gender" value="female" id="gender"
        [(ngModel)]="oldGender" />Female
      <br>

      <input type="date" class="form-control" [(ngModel)]="oldDob" required name="dob">
      <br>

      <div class="form-outline mb-4" ngModelGroup="hobbies">
        <div class="form-check" *ngFor="let hobby of oldHobbies|keyvalue">
          <input type="checkbox" class="form-check-input" value=" {{hobby.key}}" id="flexCheckChecked"
            name="{{hobby.key}}" [(ngModel)]="hobby.value">
          <label class="form-check-label" for="flexCheckChecked">
            {{hobby.key}}
          </label>
        </div>
      </div>
      <br>

      <div class="form-outline mb-4" ngModelGroup="phone_no">
        <label class="form-label" for="contact">Phone No</label>
        <input type="text" maxlength="3" class="input-mini" pattern="^[0-9]{3}$" [(ngModel)]="oldP1" name="p1"
          placeholder="123">
        <input type="text" maxlength="3" class="input-mini" pattern="^[0-9]{3}$" [(ngModel)]="oldP2" name="p2"
          placeholder="456">
        <input type="text" maxlength="4" class="input-mini" pattern="^[0-9]{4}$" [(ngModel)]="oldP3" name="p3"
          placeholder="7890"><br>
      </div>
      <br>

      <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList" name="qualification"
        [(ngModel)]="oldQualification" required>
      </ng-multiselect-dropdown>
      <br>

      <select class="form-select" name="profession" [(ngModel)]="oldProfession" required>
        <option selected hibben disabled>Select</option>
        <option value="Data Scientist">Data Scientist</option>
        <option value="Software Developer">Software Developer</option>
        <option value="Web Developer">Web Developer</option>
        <option value="Sales Engineer">Sales Engineer </option>
        <option value="Computer Support Specialists">Computer Support Specialists</option>
      </select>
      <br>
      <div class="col-8">
        <textarea class="form-control" id="desc" rows="3" name="desc" [(ngModel)]="oldDesc" required></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-success" [disabled]="tamplateForm1.invalid">Save</button>
    </div>
  </form>
</div>