<div class="all">

  <div class="assign" *ngIf="assign">
    <!-- header -->
    <app-header></app-header>

    <div class="backing">
      <h1>HOME</h1>
    </div>


    <hr>
    <!-- for main content -->
    <div class="content">
      <div class="home">
        <img style="width:150px" src="../assets/images/logo.png"><br><br>
        <h2>Welcome {{name}} !</h2>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laudantium omnis consectetur quisquam
          quam
          dolor deserunt excepturi explicabo possimus voluptatem animi illum ducimus saepe, corrupti voluptatum
          molestiae
          quo,
          veritatis nam
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laudantium omnis consectetur quisquam
          quam
          dolor deserunt
        </p>
        <div>
        </div>
      </div>
      <div class="cards">
        <div class="software">
          <img src="/assets/images/3.png" alt="image">
          <h4>Tree Design</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit iusto debiti</p>
        </div>
        <div class="software">
          <img src="/assets/images/2.png" alt="image">
          <h4>Tree Design</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit iusto debiti</p>
        </div>
        <div class="software">
          <img src="/assets/images/1.png" alt="image">
          <h4>Tree Design</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit iusto debiti</p>
        </div>
      </div>
      <br>
      <hr>
      <div class="home">
        <img style="width:150px" src="../assets/images/logo.png"><br><br>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laudantium omnis consectetur quisquam
          quam
          dolor deserunt excepturi explicabo possimus voluptatem animi illum ducimus saepe, corrupti voluptatum
          molestiae
          quo,
          veritatis nam
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laudantium omnis consectetur quisquam
          quam
          dolor deserunt
        </p>
      </div>
    </div>
    <!-- <app-assignment3></app-assignment3>
  <br> -->
    <app-slider></app-slider><br><br>

    <app-tamplate-form-example></app-tamplate-form-example>


    <app-form-assignment></app-form-assignment>

  </div>

  <div appMybannercss>
    <app-test-form3></app-test-form3>
  </div>

  <div class="buttondesign">
    <button (click)="showAssign()">Show</button><button (click)="hideAssign()">Hide</button>
  </div>

  <div class="assign" *ngIf="!assign">

    <br>
    <app-reactive-form-example></app-reactive-form-example>
    <br>
    <!-- Assignments -->
    <app-assignment1></app-assignment1>
    <br>
    <app-assignment2></app-assignment2>
    <br>
    <app-assignment4></app-assignment4>
    <br>
    <br><br>
    <app-product-services></app-product-services>
    <br><br><br>
    <app-udemy-route></app-udemy-route>
    <hr>

    <!-- udemy Assignments -->
    <app-udemy></app-udemy>
    <hr>

    <!-- ppt wxample -->
    <app-parent></app-parent><br>
    <hr>
    <app-view-child></app-view-child><br>
    <hr>
    <app-serviesexample></app-serviesexample>
    <app-test-view-child></app-test-view-child>
    <hr>

    <!-- todos app codewithharry -->
    <div class="myTestApp">
      <app-mycomponents></app-mycomponents>
    </div>

    <!-- Udemy recipe app -->
    <div class="myTestApp">
      <app-my-app></app-my-app>
    </div>
    <hr>

  </div>
  <!-- footer -->

  <footer class="text-center text-white" style="background-color: rgba(17, 202, 26, 0.637);">

    <app-footer></app-footer>

  </footer>


</div>