<!-- header -->
<app-header></app-header>

<div class="backing">
  <h1>HOME</h1>
</div>
<hr>
<!-- for main content -->
<div class="content">
  <div class="home">
    <img style="width:150px" src="../assets/images/logo.png"><br><br>
    <h2>Welcome {{name}} !</h2>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laudantium omnis consectetur quisquam quam
      dolor deserunt excepturi explicabo possimus voluptatem animi illum ducimus saepe, corrupti voluptatum molestiae
      quo,
      veritatis nam
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae laudantium omnis consectetur quisquam quam
      dolor deserunt
    </p>
    <div>
      <hr>
    </div>
  </div>
  <div class="cards">
    <div class="software">
      <img src="/assets/images/3.png" alt="image">
      <h4>Tree Design</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit iusto debiti</p>
    </div>
    <div class="software">
      <img src="/assets/images/2.png" alt="image">
      <h4>Tree Design</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit iusto debiti</p>
    </div>
    <div class="software">
      <img src="/assets/images/1.png" alt="image">
      <h4>Tree Design</h4>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit iusto debiti</p>
    </div>
  </div>
</div>
<hr> 

<!-- Assignments -->
<app-assignment1></app-assignment1>
<br>
<app-assignment2></app-assignment2>
<hr>

<!-- Udemy recipe app -->
<div class="myTestApp">
  <app-my-app></app-my-app>
</div>
<hr>

<!-- udemy Assignments -->
<app-udemy></app-udemy>
<hr>

<!-- todos app codewithharry -->
<div class="myTestApp">
  <app-mycomponents></app-mycomponents>
</div>
<hr>

<!-- footer -->
<app-footer></app-footer>