<ng-template #content let-modal>
  <div *ngIf="stepdata1">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Reactive Registration Form
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">
          ×
        </span>
      </button>
    </div>
    <div class="modal-body">
      <!-- Reactive Form -->
      <form [formGroup]="myForm" (ngSubmit)="onSubmitR()">
        <mat-horizontal-stepper>
          <mat-step label="Step 1">
            <hr>
            <div class="step_1" formGroupName="firstPage">

              <!-- Name Field -->
              <div class="form-outline mb-4">
                <input type="text" id="name" formControlName="name" class="form-control">
                <label class="form-label" for="name">Name</label>
              </div>

              <!-- Email Field -->
              <div class="form-outline mb-4">
                <input type="email" id="email" formControlName="email" class="form-control" />
                <label class="form-label" for="email">Email</label>
              </div>

              <!-- Gender -->
              <div class="form-outline mb-4">
                <label class="form-label" for="gender">Gender</label>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="male"
                    id="gender" checked />
                  <label class="form-check-label" for="gender"> Male </label>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="female"
                    id="gender" />
                  <label class="form-check-label" for="gender">Female </label>
                </div>
              </div>

              <!-- DOB Field -->
              <div class="form-outline mb-4">
                <input type="date" id="email" formControlName="dob" class="form-control" />
                <label class="form-label" for="email">Date of Birth</label>
              </div>
            </div>

            <button type="button" [disabled]="myForm.get('firstPage').invalid" class="btn btn-danger mx-3" mat-button
              matStepperNext>
              Next
            </button>
          </mat-step>


          <mat-step label="Step 2" formGroupName="secondPage">
            <hr>
            <div class="step_2">
              <!-- Profile Image field -->
              <div class="form-outline mb-4">
                <input type="file" id="prof_img" class="form-control" formControlName="prof_img" />
                <label class="form-label" for="prof_img">Profile Image</label>
              </div>

              <!-- hobby -->
              <div class="hobbysap">
                <div>
                  <div class="form-outline mb-4 me-5" formGroupName="hobbies">
                    <label class="form-label" for="hobbies">Hobbies</label>
                    <div class="form-check" *ngFor="let hobby of hobbies; let i=index">
                      <input class="form-check-input" type="checkbox" formControlName="{{hobby.label}}"
                        id="flexCheckChecked">
                      <label class="form-check-label" for="flexCheckChecked">
                        {{hobby.label}}
                      </label>
                    </div>
                    <button type="button" class="btn btn-secondary" (click)="onHobby()">add hobby</button>
                  </div>
                </div>
                <div *ngIf="hobbyInput">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="hobby">Your Hobby</label>
                    <input type="text" id="name" class="form-control" #addedHobby pattern="^[a-zA-Z ]+$" required>
                  </div>
                  <button type="button" [disabled]="addedHobby.value == ''" class="btn btn-primary"
                    (click)="onAddHobby(addedHobby)">add</button> &nbsp;
                  <button type="button" class="btn btn-danger" (click)="onCancelHobby()">close</button>
                </div>
              </div>


              <!-- Phone Number Field -->
              <div class="form-outline mb-4" formGroupName="phone_no">
                <label class="form-label" for="contact">Phone No</label>
                <input type="text" class="input-mini" formControlName="p1" placeholder="123">
                <input type="text" class="input-mini" formControlName="p2" placeholder="456">
                <input type="text" class="input-mini" formControlName="p3" placeholder="7890"><br>
              </div>

            </div>
            <button type="button" class="btn btn-warning" mat-button matStepperPrevious>
              Previous
            </button>
            <button type="button" [disabled]="myForm.get('secondPage').invalid" class="btn btn-danger mx-3" mat-button matStepperNext>
              Next
            </button>
          </mat-step>

          <mat-step label="Step 3" formGroupName="thirdPage">
            <hr>
            <div class="step_3">

              <!-- Profession -->
              <div class="form-outline mb-4">
                <label class="form-label" for="profession">Profession</label>
                <select class="form-select" formControlName="profession">
                  <option selected></option>
                  <option value="Data Scientist">Data Scientist</option>
                  <option value="Software Developer">Software Developer</option>
                  <option value="Web Developer">Web Developer</option>
                  <option value="Sales Engineer">Sales Engineer </option>
                  <option value="Computer Support Specialists">Computer Support Specialists</option>
                </select>
              </div>

              <!-- Qualification -->
              <div class="form-outline mb-4">
                <label class="form-label" for="profession">Qualificaation</label>
                <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="dropdownList"
                  formControlName="qualification">
                </ng-multiselect-dropdown>

              </div>

              <!-- Description -->
              <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <textarea class="form-control" id="desc" rows="3" formControlName="desc"></textarea>
              </div>

              <!-- Contect Person -->
              <div class="form-outline mb-4" formGroupName="contactPerson">

                <div class="row justify-content-center">
                  <div class="col-12">
                    <label>Contect Person</label><br>

                    <section class="container border mb-4 p-3" *ngFor="let person of contectPerson; let i = index;">
                      <div class="row">
                        <!-- person Name -->
                        <div class="col-5">
                          <div class="form-group">
                            <label>Person Name</label>
                            <input type="text" class="form-control" placeholder="Ex: Mike Johnson"
                              formControlName="personName">
                          </div>
                        </div>
                        <!-- person number -->
                        <div class="col-5">
                          <div class="form-group" formGroupName="phoneNo">
                            <label>Person Number</label>
                            <label class="form-label" for="contact">Phone No</label>
                            <input type="text" class="input-mini" formControlName="cp1" placeholder="123">
                            <input type="text" class="input-mini" formControlName="cp2" placeholder="456">
                            <input type="text" class="input-mini" formControlName="cp3" placeholder="7890"><br>
                          </div>
                        </div>
                        <div class="col-2 text-right">
                          <label>Remove</label>
                          <button type="button" class="btn btn-danger btn-sm" (click)="removePerson(i)">x</button>
                        </div>
                      </div>

                    </section>
                    <button type="button" class="btn btn-primary mb-2" (click)="addPerson()">Add Person</button>
                  </div>
                </div>

              </div>

            </div>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-block mb-4" [disabled]="myForm.invalid">Submit</button>
            </div>
            <button type="button" class="btn btn-warning" mat-button matStepperPrevious>
              Previous
            </button>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">
  Reactive Form
</button>