<div class="main">
    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="register-form" id="register-form">
                        <div formGroupName="userData">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name" formControlName="name"
                                    required>
                            </div>
                            <div *ngIf="!signupForm.get('userData.name').valid && signupForm.get('userData.name').touched"
                                class="alert alert-danger">Please enter valid Name
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email"
                                    formControlName="email" required>
                            </div>
                            <div *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                                class="alert alert-danger">Please enter valid Email
                            </div>
                        </div><br>
                        <div class="form-group">
                            <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="password" placeholder="Password"
                                formControlName="password" required>
                        </div>
                        <div *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
                            class="alert alert-danger">Please enter valid password
                        </div>

                        <div formArrayName="hobbies">
                            <button class="btn btn-default" style="border: 1px solid grey;color: gray;" type="button"
                                (click)="onAddHobby()">Add Hobbies</button>
                            <div class="form-group"
                                *ngFor="let hobbyControl of signupForm.get('hobbies')['controls']; let i = index">
                                <input type="text" id="hobbies" placeholder="Hobbies" [formControlName]="i" required>
                            </div>
                        </div>
                        <div *ngIf="!signupForm.get('hobbies').valid && signupForm.get('hobbies').touched"
                            class="alert alert-danger">Please enter valid Hobbies
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                                statements in <a href="#" class="term-service">Terms of service</a></label>
                        </div>
                        <div *ngIf="!signupForm.valid && signupForm.touched" class="alert alert-danger">Please enter
                            valid Data
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="../../../assets/images/signup-image.jpg" alt="sing up image"></figure>
                    <a href="#" class="signup-image-link">I am already member</a>
                </div>
            </div>
        </div>
    </section>

    <!-- <div class="form-group">
                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                <input type="password" name="re_pass" id="re_pass" placeholder="Repeat your password" />
            </div> -->
    <!-- Sing in  Form -->

    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="../../../assets/images/signin-image.jpg" alt="sing up image"></figure>
                    <a href="#" class="signup-image-link">Create an account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign In</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="your_name" id="your_name" placeholder="Your Name" />
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="your_pass" id="your_pass" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember
                                me</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                        </div>
                    </form>
                    <div class="social-login">
                        <span class="social-label">Or login with</span>
                        <ul class="socials">
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"
                                        aria-hidden="true">F</i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter">T</i></a></li>
                            <li><a href="#"><i class="display-flex-center zmdi zmdi-google">G</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




